[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
requests = "*"
boto3 = "*"
backoff = "*"

[dev-packages]
coverage = "*"
behave = "*"
moto = "*"

[requires]
python_version = "3.12"
